<div
  class="border border-gray-500 h-64 py-1 sm:py-4 px-8 rounded-md shadow flex flex-col sm:flex-row space-x-8 xl:space-x-20 mb-4"
>
  <div class="flex flex-col items-center sm:items-start">
    <div class="font-bold h-6 w-20 rounded-md bg-gray-800 animate-pulse"></div>
    <div class="mt-2 font-bold h-4 w-32 rounded-md bg-gray-600 animate-pulse-delay-200"></div>
    <div class="flex flex-col space-y-3 mt-2">
      <div class="border w-32 text-left px-2 py-2 rounded-md text-gray-500 border-gray-500 animate-pulse-delay-400">PENDING</div>
      <div class="border w-32 text-left px-2 py-2 rounded-md text-gray-500 border-gray-500 animate-pulse-delay-600">REJECTED</div>
      <div class="border w-32 text-left px-2 py-2 rounded-md text-gray-500 border-gray-500 animate-pulse-delay-800">DONE</div>
    </div>
  </div>
  <div class="flex flex-col items-center sm:items-start">
    <div class="whitespace-no-wrap flex flex-row items-baseline animate-pulse">
      <div class="bg-red-700 w-4 h-4 font-bold text-xl rounded-md"></div>
      &nbsp;
      <div class="text-gray-600">arrhythmias</div>
    </div>
    <div class="hidden sm:flex flex-col space-y-2 text-xl mt-2">
      <div class="text-red-200 animate-pulse"
        >AFib</div
      >
      <div class="text-red-200 animate-pulse-delay-200"
        >Av Block</div
      >
      <div class="text-red-200 animate-pulse-delay-400"
        >Pause</div
      >
      <div class="text-red-200 animate-pulse-delay-600"
        >PSVC</div
      >
      <div class="text-red-200 animate-pulse-delay-800"
        >PVC</div
      >
    </div>
  </div>
</div>
